<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p> {{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Me llamo Marti, soy programador junior, con algo de experiencia en backend (C#, Java) y frontend (Angular).
    Actualmente trabajo en Hiberus Osaba, en la parte de backed y bases de datos.
    Me encanta aprender algo nuevo cada día.
  </p>
</article>

<article class="about">
  <h4>Lenguajes y herramientas</h4>
  <ul>
    <li>C#</li>
    <li>Java</li>
    <li>Angular</li>
    <li>Git</li>
  </ul>
</article>


<article class="about">
  <h4>Formación académica</h4>
  <ul>
    <li>Título técnico gestión administrativa.</li>
    <li>Título de técnico superior en Administración de Sistemas Informáticos en Red.</li>
    <li>Título técnico superior en desarrollo de aplicaciones multiplataforma.</li>
  </ul>
</article>
