
<!--
<nav>
  <a [routerLink]="'/calculadora'" [routerLinkActive]="['active']">Calculadora</a>
  &nbsp;
  <a [routerLink]="'/empleados'" [routerLinkActive]="['active']">Empleados</a>
</nav>
<router-outlet></router-outlet>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"[routerLink]="'/home'">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/calculadora'">Calculadora </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/empleados'">Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/proyectos'">Proyectos</a>
      </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
